<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper是根标签，namespace属性：在Mybatis全局范围内找到一个具体的Mapper配置 -->
<!-- 引入接口后，为了方便通过接口全类名来找到Mapper配置文件，所以通常将namespace属性设置为接口全类名 -->
<mapper namespace="com.star.counter.mapper.OrderMapper">

    <select id="queryOrderByUid" resultType="com.star.counter.bean.OrderInfo">
        SELECT t.id, t.uid, t.code, s.name, t.direction, t.type, t.price, t.ocount, t.status, t.date, t.time
        FROM t_order t, t_stock s
        WHERE uid = #{uid} AND t.code = s.code
    </select>

    <insert id="insertOrder" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order(uid, code, direction, type, price, ocount, status, date, time)
        VALUES (#{uid}, #{code}, #{direction}, #{type}, #{price}, #{ocount}, #{status}, #{date}, #{time})
        <!--<selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER">-->
        <!--    SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
    </insert>

    <update id="updateOrder">
        UPDATE t_order SET status = #{status} WHERE id = #{oid}
    </update>
</mapper>