<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper是根标签，namespace属性：在Mybatis全局范围内找到一个具体的Mapper配置 -->
<!-- 引入接口后，为了方便通过接口全类名来找到Mapper配置文件，所以通常将namespace属性设置为接口全类名 -->
<mapper namespace="com.star.counter.mapper.TradeMapper">

    <select id="queryTradeByUid" resultType="com.star.counter.bean.TradeInfo">
        SELECT t.id, t.uid, t.code, s.name, t.direction, t.price, t.tcount, t.date, t.time
        FROM t_trade t, t_stock s
        WHERE t.uid = #{uid} AND t.code = s.code
    </select>
</mapper>